/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.skilltracker-header {
    border: none;
    height: 50px;
    padding-top: 0px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    /* justify-items: center; */
    font-weight: bold;
    font-size: 32px;
    background-color: darkslateblue;
    color: white
}

